<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <!--<typeAlias type="top.oyoung.springmvc.entity.User" alias="User"/>-->
        <package name="top.oyoung.springmvc.entity"/>
    </typeAliases>
</configuration>